body {
    background-color: powderblue;
}
h1{
	font-family: 'Yanone Kaffeesatz', sans-serif;
	font-size: 27px;
	color:#000000;
}
h2{
font-family: 'Yanone Kaffeesatz', sans-serif;
font-size: 20px;
	color:#FFFFFF;
}
h3{
font-family: 'Yanone Kaffeesatz', sans-serif;
font-size: 35px;
text-shadow: rgba(0,0,255,1) -1px -2px 0.5em;
	color:#0000FF;
}

p{
	text-align: left-justify;
	text-indent: 60px;
	font-family: 'Patrick Hand SC', cursive;
	font-size: 30px;
	color:#0000FF;
}

span{
	color:black;
}

img.right: {
	align-items:right;
}
